*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
p{
    font-size: 1.6rem;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}
section{
    padding: 5rem 0;
}
header{
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("background.gif") bottom no-repeat;
   
}
.container{
    width: 100%;
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}
.nav-brand{
    width: 20rem;
}
.menu-icons i{
    font-size: 3.5rem;
    color: #fafafa;
    cursor: pointer;
}
.close i{
    color: #eb648c;
}
.nav-list{
    width: 25rem;
    height: 100vh;
    background: linear-gradient(200deg, #000506 0%, rgba(49,24,131,0.9) 50%, #000506 100%), url("landscape.jpg") center no-repeat;
    position: fixed;
    top: 0;
    right: -26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    transition: all 450ms ease-in-out;
}
.nav-list.active{
    right: 0;
    border-left: #000506 solid 2px;
    box-shadow: 0px 5px 80px 40px #000506;
}
.close{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}
.nav-item{
    margin: 1.5rem 0;
    color: #fafafa;
}
.nav-item a:hover{
    color: #fafafa;
}
.nav-link{
    font-size: 2rem;
    text-transform: uppercase;
    color: #fafafa;
}
.hero{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("background.gif") center no-repeat;
    background-size: cover;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url("wave-small.png") center no-repeat;
    background-size: cover;
}
.main-message{
    width: 100%;
    max-width: 50rem;
    color: #fafafa;
    transform: translateY(20%);
}
.main-message h3{
    font-size: 1.6rem;
    text-transform: uppercase;
    animation-duration: 2s;
    animation-name: slidein;
}
.main-message h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 4rem;
    margin: 1rem 0;
    text-transform: uppercase;
    animation-duration: 2.25s;
    animation-name: slidein;
}
.main-message p{
    animation-duration: 2.5s;
    animation-name: slidein;
}
@keyframes slidein {
    0% {
      margin-left: -1000px;
      margin-right: 1000px;
    }
    100% {
      margin-left: 0px;
      margin-right: 0px;
    }
}
.btn{
    background-color: #eb648c;
    border-radius: 2rem;
    color: #fafafa;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    transition: background-color 450ms;
    animation-duration: 2.75s;
    animation-name: slidein;
}
.btn:hover{
    background-color: #000506;
    color: #fafafa;
    transform: scale(1.10);
}
.experience-outdoors{
    padding: 0;
}
.title-heading{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: rgba(0,0,0,.7);
}
.title-heading h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 3rem;
    margin: 0.5rem 0 1rem;
}
.title-heading p{
    text-transform: lowercase;
}
.activities-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(25rem, 1fr));
    grid-gap: 2.5rem;
}
.activities-grid-item{
    height: 40rem;
    padding: 5rem;
    color: #fafafa;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}
.activities-grid-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
    z-index: -1;
}
.activities-grid-item i{
    font-size: 4rem;
    color: #eb648c;
}
.activities-grid-item h1{
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}
.testimonials{
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("background.jpg") center no-repeat fixed;
    background-size: cover;
    position: relative;
}
.testimonials::before{
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url("wave-small-reversed.png") center no-repeat;
    background-size: cover;
}
.testimonial{
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
}
.testimonial-customer img{
    width: auto;
    height: 40rem;
    border-radius: 50%;
    border: 6px solid #eb648c;
    margin-bottom: 10rem;
}
.adventure-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(25rem, 1fr));
    grid-gap: 2.5rem;
    margin-bottom: 2rem;
}
.adventure-grid-item p{
    color: rgba(0,0,0,.7);
    text-indent: 45px;
}
footer{
    padding: 2.5rem 0;
    background-color: #d7d4ed;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}
@media screen and (min-width: 350px){
    .main-message{
        transform: translateY(40%);
    }
    .art-img{
        margin-top: 30px;
    }
}
@media screen and (min-width: 470px){
    
    .hero::before{
        height: 9.4rem;
        background: url(wave-medium.png);
        background-size: cover;
    }
    .testimonials::before{
        height: 9.4rem;
        background: url(wave-medium-reversed.png);
        background-size: cover;
    }
}
@media screen and (max-width: 700px){
    header{
        height: 95px;
    }
    .home-header{
        background: transparent;
    }
    .testimonial{
        transform: translate(-50%, -45%);
    }
}
@media screen and (min-width: 700px){
    header{
        height: 8rem;
        position: fixed;
        background: #000506;
    }
    .nav-brand{
        width: 20rem;
    }
    .nav-list{
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
        background: #000506;
    }
    .menu-icons{
        display: none;
    }
    .nav-item{
        margin: 0 2.5rem;
    }
    .nav-link, .current{
        color: #fafafa;
        position: relative;
        font-size: 1.3rem;
    }
    .nav-link::before, .current::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -0.5rem;
        background-color: #eb648c;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 450ms;
    }
    .current::before{
        transform: scaleX(1);
    }
    .nav-link:hover::before{
        transform: scaleX(1);
    }
    .hero{
        height: 60vh;
    }
    .main-message{
        transform: translateY(40%);
    }
    .title-heading h1{
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 950px){
    .hero::before{
        height: 22.7rem;
        background: url(wave-large.png);
        background-size: cover;
    }
    .testimonials::before{
        height: 22.7rem;
        background: url(wave-large-reversed.png);
        background-size: cover;
    }
    .testimonial{
        top: 75%;
    }
}
@media screen and (min-width: 1200px){
    .hero{
        height: 75vh;
    }
}
@media screen and (min-width: 2000px) and (min-height: 750px){
    .testimonial{
        transform: translate(-50%, -60%);
    }
    .testimonial-customer img{
        height: 60rem;
    }
}

.featured{
    font-family: 'Aldrich', sans-serif;
    color: rgba(0,0,0,.7);
}
.featured-h1{
    font-size: 3rem;
    margin: 0.5rem 0 3rem;
    margin-top: -5rem;
    text-transform: uppercase;
}
.featured h4{
    font-size: 2rem;
    font-weight: 700;
}
.featured p{
    font-size: 1.6rem;
}
.art-details{
    margin-top: 0rem;
    background-color: #eb648c;
    padding: 0.5rem;
    box-shadow: 0px 5px 20px 5px #888888;
}
.art-img{
    box-shadow: 0px 5px 20px 5px #888888;
}
.zoom-hover{
    transition: transform .2s;
}
.zoom-hover:hover{
    transform: scale(1.10);
}
.carousel, ul{
    height: 400px;
}
.carousel{
    width: 460px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0px 5px 20px 5px #888888;
}
.carousel li{
    display: inline-block;
    height: 300px;
    position: relative;
    width: 600px;
    float: left;
}
.carousel ul{
    position: absolute;
    left: 0;
    top: -15px;
    width: 9000px;
    list-style: none;
    margin-left: -50px;
    transition: left .3s linear;
}
.carousel-container{
    margin: 0 auto;
    padding: 0;
    width: 600px;
}
.carousel-container img{
    height: 100%;
    width: 100%;
    padding: 0;
}
.carousel ul{
    animation: slide-animation-screen-large 20s infinite;
}
.carousel ul:hover{
    animation-play-state: paused;
}
@keyframes slide-animation-screen-large{
    20%{left: 0}
    25%{left:-600px}
    45%{left: -600px}
    50%{left: -1200px}
    70%{left: -1200px}
    75%{left: -1800px}
    95%{left: -1800px}
    100%{left: 0}
}
@keyframes slide-animation-screen-small{
    20%{left: 0}
    25%{left:-520px}
    45%{left: -520px}
    50%{left: -1040px}
    70%{left: -1040px}
    75%{left: -1560px}
    95%{left: -1560px}
    100%{left: 0}
}
@media screen and (max-width: 485px){
    .carousel, ul{
        height: 300px;
    }
    .carousel{
        width: 345px;
    }
    .carousel li{
        height: 260px;
        width: 520px;
    }
    .carousel-container{
        width: 520px;
    }
    .carousel ul{
        animation: slide-animation-screen-small 20s infinite;
    }
    .carousel-container img{
        height: auto;
        width: 100%;
        padding: 0;
    }
}
.links{
    width: 5rem;
    height: auto;
    background-color: #eb648c;
    border-radius: 100%;
    color: #fafafa;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    transition: background-color 450ms;
}
.links:hover{
    background-color: rgba(49,24,131,0.9);
}
@keyframes fadein {
    0% {
        opacity: 0%;
        font-size: 0rem;
    }
    100% {
        opacity: 100%;
        font-size: 3rem;
    }
}
.vertical-gallery{
    overflow: auto;
    white-space: nowrap;
    min-height: 57rem;
    height: auto;
}
.horizontal-gallery{
    overflow: auto;
    white-space: nowrap;
    min-height: 35rem;
    height: auto;
}
.art-item{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
    transition: transform .2s;
    box-shadow: 0px 5px 20px 5px #888888;
    vertical-align: center;
    position: relative;
    animation-duration: 3s;
    animation-name: slideRight;
}
.art-item:hover{
    transform: scale(1.05);
}
.structure{
    height: auto;
    width: 35rem;
    max-height: 50rem;
}
@keyframes slideRight {
    0% {
        right: 2000px;
    }
    100% {
        right: 0px;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: 0px 5px 20px 5px #888888;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #eb648c;
}
.description{
    margin-top: 0rem;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
    padding: 0.5rem;
    color: #fafafa;
}
hr{
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
}

.img-menu{
    height: 70vh;
    overflow: scroll;
}
.img-viewport{
    height: 70vh;
    width: auto;
    overflow: hidden;
}
.img-viewport img{
    height: 50vh;
    width: auto;
    box-shadow: 0px 5px 20px 5px #888888;
}
.unfinished-btn{
    border: none;
    box-shadow: 0px 5px 5px 2px #888888;
    margin: 10px;
    animation-duration: 2s;
    animation-name: slideDown;
    position: relative;
}
@keyframes slideDown{
    0% {
        bottom: 4000px;
    }
    100% {
        bottom: 0px;
    }
}
.unfinished-img{
    margin-top: 30px;
    animation-duration: 2s;
    animation-name: slideLeft;
}
@keyframes slideLeft {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: 0px;
    }
}
@media screen and (max-width: 767px){
    .unfinished-img{
        display: none;
    }
    .unfinished-description{
        display: none;
    }
    .img-menu{
        overflow: visible;
    }
    #direction{
        display: none;
    }
    #break{
        display: none;
    }
}

.gallery-title{
    font-size: 3rem;
    text-transform: uppercase;
}
.unfinished-description{
    margin-top: 2rem;
    background: linear-gradient(135deg, rgba(49,24,131,0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
    padding: 0.5rem;
    color: #fafafa;
    width: 60rem;
    box-shadow: 0px 5px 20px 5px #888888;
    animation-duration: 3s;
    animation-name: fadein;
    margin-left: 5rem;
}
.box {
    position: absolute;
    padding: 10px;
    background-color: #fff;
    border: solid 2px #111;
    font-size: 20px;
    width: 300px;
    height: 250px;
    border-radius: 5px;
    top: 300px;
    left: 100px;
}
.direction-title{
    color: #eb648c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}