html, body
{
    height: 100%;
    width: 100%;
    background-color: #ffe6ff;
    color: #FFF;
}
*{
    box-sizing: border-box;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: #000506;
    font-family: bignoodletitling;
    position: fixed;
    z-index: 2;
    width: 100%;
}
.logo
{
    color: #FFF;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.nav-links
{
    display: flex;
    background-color: #000506;
    justify-content: space-around;
    width: 40%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    color: #FFF;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: bignoodletitling;
}


#home
{
    background: url(landscape.jpg) no-repeat center center fixed;
    display: table;
    height: 70%;
    position: relative;
    width: 100%;
    background-size: cover;
    z-index: 0;

}
.landing-text
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-weight: bold;
    box-sizing: border-box;
}
.landing-text h1
{
    font-size: 500%;
    font-weight: 700;
    color: black;
    text-shadow: -3px -3px 0 white,
     3px -3px 0 white,
     -3px 3px 0 white,
     3px 3px 0 white;
}
.landing-text h3
{
    font-size: 300%;
    font-weight: 900;
    color: black;
    text-shadow: -3px -3px 0 white,
     3px -3px 0 white,
     -3px 3px 0 white,
     3px 3px 0 white;
}
.padding
{
    padding: 80px 0;
    background-color: #040a2f;
}
.padding img
{
    width: 100%;
}
#fixed
{
    background: url(working.jpg) no-repeat center center fixed;
    display: table;
    height: 50%;
    position: relative;
    width: 100%;
    background-size: cover;
    filter: blured(2px);
}
footer
{
    width: 100%;
    background-color: #000506;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}
footer h3
{
    font-size: 40px;
    font-family: bignoodletitling;
}
footer h4
{
    font-size: 25px;
    font-family: bignoodletitling;
}

@media (max-width: 768px)
{
    .landing-text h1
    {
        font-size: 300%;
        text-shadow: -1px -1px 0 white,
         1px -1px 0 white,
         -1px 1px 0 white,
         1px 1px 0 white;
    }
    .fa
    {
        font-size: 20px;
        padding: 10px;
    }
    .icon
    {
        padding-top: 5%;
        max-width: 400px;
    }
    .landing-text h3
    {
        font-size: 200%;
        text-shadow: -1px -1px 0 white,
         1px -1px 0 white,
         -1px 1px 0 white,
         1px 1px 0 white;
    }
    footer h3
    {
        font-size: 35px;
        font-family: bignoodletitling;
    }
    footer h4
    {
        font-size: 25px;
        font-family: bignoodletitling;
    }
    .link
    {
        padding: 2% 20px;
        font-family: merienda;
        line-height: 30px;
        font-size: 20px;
        color: black;
        background-color: #ffe6ff;
        border: none;
        text-align: center;
        margin: 155px;
        font-weight: bold;

    }
    .pictures
    {
        min-width: 300px;
        min-height: 300px;
        max-width: 500px;
        max-height: 500px;
        padding: 50px;
    }
    .gallery
    {
        background-color: #040a2f;
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: -10px;
        min-height: 770px;
    }
    .title
    {
        padding-top: 30px;
        padding-bottom: 20px;
        font-size: 35px;
        font-family: bignoodletitling;
    }
}
ul
{
    display: inline;
}
button
{
    float: right;
}

.burger
{
    display: none;
}

.burger div
{
    width: 25px;
    height: 3px;
    background-color: #FFF;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1124px)
{
    .nav-links
    {
        width: 60%;
    }
}

@media screen and (max-width: 768px)
{
    body
    {
        overflow-x: hidden;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 10vh;
        background-color: #000506;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    .nav-links li
    {
        opacity: 0;
    }
    .burger
    {
        display: block;
        cursor: pointer;
    }
}
.landing-text a
{
    background-color: #040a2f;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}
p
{
    font-size: bignoodletitling;
}
.nav-active
{
    transform: translateX(0%);
}

@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,6px);
}
.link
{
    padding: 2% 30px;
    font-family: merienda;
    line-height: 50px;
    font-size: 30px;
    color: black;
    background-color: #ffe6ff;
    border: none;
    text-align: center;
    margin: 25px;
    font-weight: bold;

}
.pictures
{
    min-width: 300px;
    min-height: 300px;
    max-width: 500px;
    max-height: 500px;
    padding: 40px;
}
.gallery
{
    background-color: #040a2f;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 10px;
}
.title
{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 50px;
    font-family: bignoodletitling;
}






